.loadDatasetBtn {
  margin-top: 30px;
  padding-bottom: 20px;
}

.Component-Bg {
  height: 865px;
  background-image: url(./bg-NN.jpg);
  background-position: "center";
  background-repeat: "no-repeat";
  background-size: contain;
  background-size: 100% 100%;
}
